@tab-section-border-radius: 2px;

.tab-1 {
  background-color: @layout-body-background;
  .ant-tabs-bar {
    background-color: @white;
    margin-bottom: 0;
    border-top-left-radius: @tab-section-border-radius;
    border-top-right-radius: @tab-section-border-radius;
    .ant-tabs-nav-container {
      .ant-tabs-nav-wrap {
        padding-left: 32px;
        .ant-tabs-nav {
          .ant-tabs-tab {
            .font-sf-pro-text();
            color: @text-color;
            font-size: 16px;
            padding-top: 22px;
            &.ant-tabs-tab-active {
              color: @orange;
            }
          }
          .ant-tabs-ink-bar {
            background-color: @orange;
            bottom: auto;
            top: 0;
          }
        }
      }
    }
  }
}

.tab-1-base {
  .ant-card-body {
    padding: 0;
  }
}

.dropdown-render {
  background-color: @white;
  padding: 40px 32px;
  margin-bottom: 30px;
  border-bottom-left-radius: @tab-section-border-radius;
  border-bottom-right-radius: @tab-section-border-radius;
  .dropdown-render-i {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 500px;
    .dropdown-render-i-name {
      min-width: 100px;
    }
    .ant-dropdown-trigger {
      flex: 1;
      border: 1px solid rgba(0, 0, 0, 0.15);
      text-align: left;
      &:hover {
        color: @orange;
      }

      &:nth-child(even) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:nth-child(odd) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1px;
      }

      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
    .ant-dropdown-trigger {
      text-align: right;
      span:first-child {
        float: left;
      }
    }
  }
}

._menu-item {
  max-height:400px;
  overflow:hidden;
  overflow-y:auto;
}

.tag-btns {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.filters-2 {
  padding: 0 30px;
  .filters-2-i {
    max-width: 500px;
    padding: 30px 0;
    .filters-2-i-title {
      min-width: 100px;
    }
    .filters-2-i-select {
      flex: 1;
      max-width: 357px;
    }
  }
}

.chart-wrapper {
  margin: 24px 0 0;
  .chart-wrapper-sec {
    margin-bottom: 24px;
  }
}

.bar-chart-1 {
  padding: 80px 40px 0 !important;
}

.pie-chart-1 {
  padding: 0 40px 0 !important;
}

.pieChart-buttons {
  padding-bottom: 25px;
  justify-content: flex-end;
  padding-right: 12px;
  .pieChart-buttons-title {
    font-size: 14px;
    max-width: 120px;
  }
  .ant-tag-checkable {
    &-checked {
      background-color: @green;
    }
    &:active {
      background-color: @green;
    }
  }
}
.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  color: @green !important;
}
