.trigger {
  font-size: 26px;
  line-height: 64px;
  padding: 0 24px;
  float: left;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  cursor: pointer;
  height: 64px;
  position: relative;
  line-height: 64px;
  transition: all 0.3s;
  overflow: hidden;
  margin: 20 auto;
}

.logo img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  margin: 0 0 0 22px;
}
.logo h1 {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin: 0 0 0 12px;
  font-weight: 600;
}

#item {
    float: left;
}

.date {
    float: right;
}

.topnav {
  overflow: hidden;
  float: right;
}

.topnav a {
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: rgb(235, 128, 6);
}

.topnav a.active {
  color: rgb(235, 128, 6);
}